# GDP Per Capita Analysis

GDP per capita data was taken from world bank
https://data.worldbank.org/indicator/NY.GDP.PCAP.CD

In [12]:
import pandas as pd

read "gdp_per_capita.csv" file into a dataframe

In [35]:
data = pd.read_csv("gdp_per_capita_2020July.csv")

In [36]:
print(data)

     Country Name Country Code                Indicator Name  Indicator Code  \
0           Aruba          ABW  GDP per capita (current US$)  NY.GDP.PCAP.CD
1     Afghanistan          AFG  GDP per capita (current US$)  NY.GDP.PCAP.CD
2          Angola          AGO  GDP per capita (current US$)  NY.GDP.PCAP.CD
3         Albania          ALB  GDP per capita (current US$)  NY.GDP.PCAP.CD
4         Andorra          AND  GDP per capita (current US$)  NY.GDP.PCAP.CD
..            ...          ...                           ...             ...
259        Kosovo          XKX  GDP per capita (current US$)  NY.GDP.PCAP.CD
260   Yemen, Rep.          YEM  GDP per capita (current US$)  NY.GDP.PCAP.CD
261  South Africa          ZAF  GDP per capita (current US$)  NY.GDP.PCAP.CD
262        Zambia          ZMB  GDP per capita (current US$)  NY.GDP.PCAP.CD
263      Zimbabwe          ZWE  GDP per capita (current US$)  NY.GDP.PCAP.CD

           1960        1961        1962        1963        1964        1965  \
0           NaN         NaN         NaN         NaN         NaN         NaN
1     59.773194   59.860874   58.458015   78.706388   82.095231  101.108305
2           NaN         NaN         NaN         NaN         NaN         NaN
3           NaN         NaN         NaN         NaN         NaN         NaN
4           NaN         NaN         NaN         NaN         NaN         NaN
..          ...         ...         ...         ...         ...         ...
259         NaN         NaN         NaN         NaN         NaN         NaN
260         NaN         NaN         NaN         NaN         NaN         NaN
261  443.009816  454.962013  473.011615  511.497253  548.995942  584.704072
262  232.188867  220.042137  212.578123  213.896441  242.384333  303.281910
263  278.813699  280.828951  276.688781  277.479715  281.558440  293.308854

     ...          2011          2012          2013          2014  \
0    ...  24985.993281  24713.698045  26189.435509  26647.938101
1    ...    591.162759    641.871479    637.165523    613.856689
2    ...   4615.468028   5100.095808   5254.882338   5408.410496
3    ...   4437.142885   4247.629984   4413.060861   4578.631994
4    ...  43335.328862  38686.461264  39538.766722  41303.929371
..   ...           ...           ...           ...           ...
259  ...   3741.875052   3596.804655   3891.266363   4080.330717
260  ...   1374.621285   1446.536354   1607.152365   1673.146354
261  ...   8007.412846   7501.469984   6832.456891   6433.187277
262  ...   1672.908251   1763.072733   1878.907001   1763.057298
263  ...   1093.654002   1304.969802   1430.000818   1434.899340

             2015          2016          2017          2018          2019  \
0    27980.880695  28281.350482  29007.693003           NaN           NaN
1      578.466353    547.228110    556.302002    524.162881    502.115487
2     4166.979684   3506.072885   4095.812942   3289.646664   2973.591160
3     3952.801215   4124.055726   4531.020806   5284.380184   5352.857411
4    35762.523074  37474.665406  38962.880354  41793.055258  40886.391165
..            ...           ...           ...           ...           ...
259   3603.025501   3780.003689   4045.614209   4419.914327   4417.509940
260   1395.439633   1033.733043    882.395759    968.159048           NaN
261   5734.633629   5272.918425   6132.479841   6374.028196   6001.400814
262   1337.796110   1280.578898   1534.865371   1556.334482   1291.343357
263   1445.071062   1464.583529   1548.170056   1683.740577   1463.985910

     Unnamed: 64
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
259          NaN
260          NaN
261          NaN
262          NaN
263          NaN

[264 rows x 65 columns]

check the top-five rows the data frame

In [33]:
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

In [34]:
#set index of the dataframe as Country name
data.set_index("Country Name",inplace=True)

KeyError: "None of ['Country Name'] are in the columns"

In [30]:
#check again top-five rows of the dataframe
data.

SyntaxError: invalid syntax (Temp/ipykernel_27392/10285086.py, line 2)

### How to delete a column?

In [ ]:
# delete Country Code, Indicator Name and Indicator Code columns
data.

In [ ]:
# check the dataframe
data.head()

### get data for Italy

In [ ]:
italy=data.

In [ ]:
type(italy)

In [ ]:
# get italy's gdp per capita for 2019
italy

In [ ]:
italy.tail()

### Find the year that italy has the highest increase of gdb per capita

- Calculate the yearly percentage increase compared to previous year 
- find the year that has highest increase in terms of percentage.

calculate the yearly change in percentage

In [ ]:
italy_pct_change=italy.

In [ ]:
# multiply italy_pct_change by 100
italy_pct_change=

In [ ]:
italy_pct_change

find the year that has highest change

In [ ]:
italy_pct_change.

### Find the years that GDP per capita decreased compared to the previous year.

In [ ]:
italy_negative=italy_pct_change

In [ ]:
italy_negative

In [ ]:
# get only years
italy_negative

## Find the year that GDP per capita of the world increased the most compared to previous year

In [ ]:
data.head()

In [ ]:
# first get the data for world
# there is an index named World
world=data.

In [ ]:
# now find the year that has highest increase in percentange
world

## find top 10 years that have highest standart deviation

In [ ]:
data.head()

In [ ]:
# first calculate standart deviation for each year
data_std=data.

In [ ]:
data_std

In [ ]:
# now top-10 years having the hightest standart deviation
data_std.

### Which country has the highest gdp_per_capita in 2019?

In [ ]:
data.head()

In [ ]:
# get the data for the year 2019
data_2019=data

In [ ]:
data_2019

In [ ]:
# now get the country
data_2019.

# Rank of Luxembourg

find the rank of Luxembourg each year

In [ ]:
# calculate the rank of each country for each year
data_rank=data.

In [ ]:
data_rank

In [ ]:
# now get the rank of Luxembourg
lux_rank=data_rank.

In [ ]:
# plot the rank of luxembourg
lux_rank.

In [ ]:
# print the years where Luxembourg ranks top
lux_rank